<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<type name="Magento\Customer\Api\CustomerRepositoryInterface">
    <plugin name="CustomerRepositoryInterface::before" type="Amitshree\Marketplace\Plugin\Customer\Api\CustomerRepositoryInterface" />
</type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="CustomerAccountCreate::around" type="Amitshree\Marketplace\Plugin\Customer\Controller\Account\CreatePost" />
    </type>
</config>